/* ATMCard.css */
.atm-card {
    width: 300px;
    border: 2px solid #0052cc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.account-type-badge {
    margin-bottom: 15px;
}

.account-number {
    margin-top: 15px;
    font-weight: bold;
}

.balance {
    margin-top: 10px;
    color: #28a745;
}

.dates {
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
}

.start-date,
.expiration-date {
    margin-bottom: 5px;
}
